.bg-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-layer {
  position: absolute;
  pointer-events: none;
  user-select: none;
}

/* Base background */
.bg-base {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Birds */

.bird {
  left: 10px;
  top: 0%;
  width: 94%;
  margin-top: -36px;
  animation: smokeMove 4s ease-in-out infinite;
  opacity: 0.8;
}

/* Drum (center) */
.drum {
  top: 60%;
  left: 50%;
  width: 94%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

.drum {
  top: 58%;
  left: 50%;
  width: 94%;
  opacity: 0.7;
  transform-origin: center;
  animation: drumRotate 3s ease-in-out infinite;
}

/* Bronze Drum Animation: xoay nhẹ rồi hồi lại */
@keyframes drumRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(3deg);
  } /* xoay nhẹ */
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.leaf {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  user-select: none;
  margin-bottom: -30px;
  /* opacity: 0.9; */
  z-index: 3; /* dưới lotus (4), trên background (2) */
}

/* Lotus positions */
.lotus {
  bottom: 0;
  width: 80%;
  margin-bottom: -10px;
  z-index: 4;
}

.lotus-1 {
  left: 0;
  animation: float 2s ease-in-out infinite;
}
.lotus-2 {
  left: 30%;
  animation: float 3s ease-in-out infinite;
}
.lotus-3 {
  right: 0;
  animation: float 2s ease-in-out infinite;
}

/* Smoke */
.smoke-left {
  left: 0;
  top: 0%;
  width: 90%;
  animation: smokeMove 2s linear infinite;
  opacity: 0.8;
}

.smoke-right {
  right: 0;
  top: 0%;
  width: 90%;
  animation: smokeMove 5s linear infinite;
  opacity: 0.85;
}

@keyframes smokeMove {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.02);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-8px) translateX(4px) rotate(-0.1deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

/* Content on top */
.bg-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}
